/* Global Styles */
body {
	font-family: 'Roboto', sans-serif;
	padding: 1rem;
}

h4 {
	font-weight: 500;
	color: #d32f2f;
	font-size: 1.2em;
	text-align: center;
	padding-bottom: 1rem;
	margin: 0;
}

/* Table Container */
#course-details {
	max-width: 100%;
	overflow-x: auto;
	background: white;
	padding: 1rem 4px;
	border-radius: 8px;
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
table {
	width: 100%;
	border-collapse: collapse;
	border: none;
	background-color: white;
}

thead tr {
	background: #51237f;
	color: white;
}

th,
td {
	border-bottom: 1px solid #e0e0e0;
	padding: 8px;
	text-align: left;
}

th:not(:last-child),
td:not(:last-child) {
	white-space: nowrap;
	/* Prevent line breaks */
}

th {
	/*background: #1976d2;*/
	text-align: center;
	font-weight: 500;
}

th:first-child,
td:first-child {
	/* text-align: center; */
	font-weight: 500;
	width: max-content;
	white-space: nowrap;
}

tr.double-border-gray>td {
	border-top: 2px solid #666;
	border-bottom: 2px solid #666;
}

tr.double-border-bottom-gray>td {
	border-bottom: 2px solid #666;
}

tr.double-border-top-gray>td {
	border-top: 2px solid #666;
}

/* Alternating Row Colors */
.alt {
	background-color: #f1f8e9;
	/* background-color: #d7ffe6; */
}

.assignment {
	/* background-color: #f1f8e9;/ */
	background-color: #d7ffe6;
}

.review {
	/* background-color: #e3f2fd; */
	background-color: #fff0c4;
}

.exam {
	background-color: #aee1b0;
	font-weight: 500;
}

.break {
	background-color: #e8f5e9;
	font-weight: 500;
	text-align: center;
}

.hidden {
	display: none;
}

.mtb-auto,
.mlr-auto {
	margin: auto;
}
